.app-container {
      display: flex;
      height: 100vh;
    }

    .content-container {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .main-content {
      padding: 20px;
      flex-grow: 1;
    }
